body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #444;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #533232;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

section-content {
  max-width: 600px;
}

h2 {
  color: #5e0000f2;
}

section img {
  height: 400px;
  width: 600px;
  border-radius: 8px;
}

footer {
  background-color: darkslategray;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}



#services {
  background-color: #f4f4f4;
}

.service {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s;
}

.service:hover {
  transform: scale(1.05);
}

.service-title {
  color: #333;
  font-size: 1.5em;
}

.service-description {
  color: #555;
}

.service-details {
  margin-top: 10px;
  color: #777;
}
.card {
  margin: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}



#contact {
  background-color: #f4f4f4;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}





section {
  padding: 2em;
}

#about {
  background-color: #f9f9f9;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  max-width: 600px;
  margin-right: 20px;
}

.about-content h2 {
  color: #333;
}

.about-image {
  flex: 1;
}

.about-image img {
  /* width: 100%; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
